<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="margin: 0; padding: 0">
                    <img src="~/Content/img/brand.png" width="70" height="40"/>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Action("PageMenuPartial", "Pages");
                </ul>
                @if (Request.IsAuthenticated && User.IsInRole("User"))
                {
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 5px">
                        @Html.Action("CartPartial", "Cart");
                    </ul>
                }

                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/Account/Logout">Logout</a></li>
                    }
                    else
                    {
                        if (ViewBag.Title == "Login")
                        {
                            <li class="active"><a href="/Account/Login">Login</a></li>
                        }
                        else
                        {
                            <li><a href="/Account/Login">Login</a></li>
                        }

                    }
                    @if (Request.IsAuthenticated && User.IsInRole("User"))
                    {
                        <li>@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                    }
                </ul>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav navbar-right adminarea">
                        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "Admin" }, null)</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">

            @if (ViewBag.Title != "Create Account" && ViewBag.Title != "Login" && ViewBag.Title != "User Profile" && ViewBag.Title != "Your Orders")
            {
                <div class="col-xs-12 col-md-2">
                    @Html.Action("CategoryMenuPartial", "Shop");
                </div>
            }

            @if (ViewBag.Title == "User Profile")
            {
                <div class="col-xs-12 col-md-2">
                    <ul class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action" href="/Account/Orders">Orders</a>
                    </ul>
                </div>
            }

            @if (ViewBag.Title == "Your Orders")
            {
                <div class="col-xs-12 col-md-2">
                    <ul class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action" href="/Account/User-Profile">Profile</a>
                    </ul>
                </div>
            }

            @if (ViewBag.Sidebar == true)
            {
                <div class="col-xs-12 col-md-8">
                    @RenderBody();
                </div>
                <div class="col-xs-12 col-md-2">
                    @Html.Action("SidebarPartial", "Pages");
                </div>
            }
            else
            {
                <div class="col-xs-12 col-md-10">
                    @RenderBody();
                </div>
            }
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CMS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
