@model IEnumerable<CMS.Models.ViewModels.Cart.CartVM>

@{
    ViewBag.Title = "Your Cart Details";
    int count = 1;
}

<h2>Your Cart Details</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <div class="ajaxbg">
        <span>
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>Change Quantity</th>
            <th>
                Sum
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="qty@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) zł
                </td>
                <td>
                    <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" />
                </td>
                <td>
                    <a href="#" class="incrproduct" data-id="@item.ProductId">+</a>
                    <a href="#" class="decrproduct" data-id="@item.ProductId">-</a>
                    <a href="#" class="removeproduct" data-id="@item.ProductId">Delete</a>
                </td>
                <td class="total@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Total) zł
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Total: </b><span>@ViewBag.GrandTotal</span> zł</td>
        </tr>
    </table> 
    
    <div class="paypaldiv">
        <form class="paypalform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_cart" />
            <input type="hidden" name="upload" value="1" />
            <input type="hidden" name="business" value="admin@g-way.pl" />

            @foreach (var item in Model)
            {
                <input type="hidden" name="item_name_@count" value="@item.ProductName" />
                <input type="hidden" name="amount_@count" value="@item.Price" />
                <input type="hidden" name="quantity_@count" value="@item.Quantity" />
                count++;
            }

            <input type="hidden" name="currency_code" value="PLN" />
            <input type="image" src="~/Content/img/ajax-loader.gif" name="submit" alt=""/>
        </form>
    </div>

    <br />
    <a href="#" class="placeorder btn btn-primary pull-right">Pay</a>
}

@section scripts {
    <script>
        $(function () {
            // Increment product's quantity
            $("a.incrproduct").click(function (e) {
                e.preventDefault();
                var productId = $(this).data("id");
                var URL = "/Cart/IncrementProduct";
                $.getJSON(URL, { productId: productId }, function (data) {
                    $("td.qty" + productId).html(data.quantity);
                    var price = data.quantity * data.price
                    var priceHTML = price.toFixed(2) + ' zł';

                    $("td.total" + productId).html(priceHTML);

                    var gt = parseFloat($("td.grandtotal span").text());
                    var grandtotal = (gt + data.price).toFixed(2);
                    $("td.grandtotal span").text(grandtotal);
                }).done(function (data) {
                    var URL2 = "/Cart/PayPalPartial";
                    $.get(URL2, { }, function (data) {
                        $('div.paypaldiv').html(data);
                    })
                })
            });

             // Decrement product's quantity
            $("a.decrproduct").click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var productId = $(this).data("id");
                var URL = "/Cart/DecrementProduct";
                $.getJSON(URL, { productId: productId }, function (data) {
                    if (data.quantity == 0) {
                        $this.parent().parent().fadeOut("fast", function () {
                            location.reload();
                        })
                    } else {
                         $("td.qty" + productId).html(data.quantity);
                        var price = data.quantity * data.price
                        var priceHTML = price.toFixed(2) + ' zł';

                        $("td.total" + productId).html(priceHTML);

                        var gt = parseFloat($("td.grandtotal span").text());
                        var grandtotal = (gt - data.price).toFixed(2);
                        $("td.grandtotal span").text(grandtotal);
                    }
                }).done(function (data) {
                    var URL2 = "/Cart/PayPalPartial";
                    $.get(URL2, { }, function (data) {
                        $('div.paypaldiv').html(data);
                    })
                })
            });

            // Deleting product from cart
            $("a.removeproduct").click(function (e) {
                e.preventDefault();
                var productId = $(this).data("id");
                var URL = "/Cart/RemoveProduct";
                $.get(URL, { productId: productId }, function (data) {
                    location.reload();
                })
            })

            // Placing order
             $("a.placeorder").click(function (e) {
                e.preventDefault();
                 var URL = "/Cart/PlaceOrder";
                 $(".ajaxbg").show();
                 $.post(URL, { }, function (data) {
                     $(".ajaxbg span").text("You are now getting redirected to PayPal");
                     console.log(data);
                     setTimeout(function () {
                         $('form input[name="submit"]').click();
                     }, 2000);
                })
            })
        });
    </script>
}